html, body {
    margin: 0;
    padding: 0;
    background-color:  white;
    font-family: 'Pontano Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: FreeMentype;
    src: url("Freemental-font/FreeMentype.ttf");
}

body > * {
    max-width: 100%;
}

.wrapper {
    max-width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.hero {
    background: url("img/hero.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.hero .gif-holder {
    width: 100%;
    height: 65%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-flow: row nowrap;
}

.hero .gif-holder img {
    margin: auto;
    max-width: 100%;
}

.mobile-program-nav,
.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 60px;
    padding: 0;
    margin: 0;
    background-color: rgb(68, 30, 117);
    -webkit-box-shadow: 0px -18px 19px 16px #000000;
    box-shadow: 0px -18px 19px 16px #000000;
}

.hamburger-container, .nav-container {
    z-index: 100;
}

.nav-container ul {
    justify-content: center;
}

.hamburger-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    height: 50px;
    padding: 0;
    background-color: rgb(68, 30, 117);
    -webkit-box-shadow: 0px -18px 19px 16px #000000;
    box-shadow: 0px -18px 19px 16px #000000;
}

.hamburger-container .hamburger {
    height: 30px;
    width: 30px;
    background: url("img/hamburger.svg") no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 30px;
}

.logo-sign {
    height: 35px;
    width: 31px;
    background: url("img/logo-sign.svg") no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 8px;
    bottom: 10px;
    left: 30px;
}

.dropdown-nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50px;
    background-color: rgb(68, 30, 117);
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.nav-li {
    padding: 5px 20px;
}

.nav-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: FreeMentype;
    font-size: 28px;
    text-transform: uppercase;
    transition: all 150ms ease-in-out;
}

a:hover {
    color: lightblue;
}

.nav-li:hover {
    background-color: rgb(160, 133, 196);
}

.inset-shadow-top {
    box-shadow:
        inset 0px 13px 8px -10px #000,
        inset 0px 0px 0px 0px #000;
}

.inset-shadow-bottom {
    box-shadow:
        inset 0px 0px 0px 0px #000,
        inset 0px -13px 8px -10px #000;
}

.inset-shadow-both {
    box-shadow:
        inset 0px 13px 8px -10px #000,
        inset 0px -13px 8px -10px #000;
}

.section-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: left;
    min-height: 55vh;
}

.section-container:nth-child(odd),
.about-container:nth-child(odd) {
    background-color: rgb(26, 12, 44);
}

.section-container:nth-child(odd) *,
.about-container:nth-child(odd) * {
    color: lightblue;
}

.section-container:nth-child(even),
.about-container:nth-child(even) {
    background-color: white;
}

.section-container:nth-child(even) *,
.about-container:nth-child(even) * {
    color: rgb(68, 30, 117);
}

.section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
}

.section-title {
    font-family: FreeMentype;
    text-transform: uppercase;
    text-align: center;
    font-size: 56px;
    /* color: lightblue; */
}

.section-description:nth-child(2) {
    padding: 0.5em 1.5em 0.5em 0;
}

.address {
    font-size: 18px;
    color: lightblue;
}

.section-content-margin-fix {
    margin: 0 auto;
}

.about-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    min-height: 50vh;
    background-color:rgb(255, 255, 255);
    text-align: left;
}

.about {
    height: auto;
    width: 70%;
    margin: 0 auto;
    padding: 60px;
    font-size: 18px;
    text-align: left;
    line-height: 1.6;
    color: rgb(68, 30, 117);
}

.about-title {
    font-size: 56px;
    font-weight: bold;
    font-family: FreeMentype;
}

#maps-embed {
    border: 0;
}

.carousel-fix {
    margin: auto;
}

.sasomange-img {
    transition: all 150ms ease-in-out;
}

.sasomange-img:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 5px 5px 10px black;
}

.nav-li.separator {
    width: 0.25em;
    background-color: rgb(160, 133, 196);
    padding: 0 0.15em;
}

/* PROGRAM */
.program-holder {
    display: flex;
    background-color: rgb(26, 12, 44);
    color: lightblue;
}

.program-holder .separator {
    width: 75%;
    margin: 1.25em auto;
    height: .25em;
    background-color: rgb(160, 133, 196);
}

.program-floor {
    padding: 1em 2em;
    text-align: center !important;
}

.program-floor > ol {
    list-style: none;
    padding: 0;
}

.program-floor > ol li {
    padding: 0.35em 0.15em;
}

.program-floor > ol li a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none; 
}

.floor-info {
    display: flex;
    flex-flow: column nowrap;
}

.floor-info .floor-title {
    font-family: FreeMentype;
    font-size: 3.25em;
    text-align: center;
}

.floor-info .misc-info {
    text-align: center;
    font-size: 1.25em;
    height: 25%;
}
/* PROGRAM - END */

@media screen and (min-width: 1031px) {
    .section-container {
        flex-flow: row nowrap;
    }

    #maps-embed {
        width: 75%;
        height: 75%;
    }

    .carousel-fix {
        max-width: 50%;
    }

    .program-holder {
        flex-flow: row nowrap;
        justify-content: center;
        align-content: space-around;
    }
}

@media screen and (max-width: 1030px) {
    .nav-container {
        display: none;
    }

    .hamburger-container {
        display: inherit;
    }

    .hamburger-container .dropdown-nav {
        display: none;
    }

    .carousel-fix {
        max-width: 80%;
    }

    .dropdown-nav ul {
        flex-direction: column;
    }

    .mobile-program-nav ul {
        flex-direction: row;
        padding: 0;
        margin: 0;
    }

    .mobile-program-nav .nav-li {
        text-align: center;
        font-size: 24px;
    }

    .dropdown-nav .nav-li {
       width: 100%;
       text-align: center;
       font-size: 24px;
    }

    .program-holder {
        flex-flow: column nowrap;
    }

    .section-container {
        flex-flow: column nowrap;
        justify-content: center;
    }

    #maps-embed {
        margin: 0 auto;
        width: 75%;
        height: 256px;
    }

    .section-content {
        padding: 1em 0;
    }

    .section-content-margin-fix {
        text-align: center;
    }
    
    .section-title {
        font-size: 36px;
    }

    .about {
        padding: 0;
    }

    .section-description,
    .about-container p {
        font-size: 16px;
    }

    #video-embed {
        width: 100%;
    }

    .sasomange-img {
        max-width: 90%;
        margin: auto;
    }
}

@media screen and (max-width: 1000px) {
    .nav-link {
        font-size: 28px;
    }
}

@media screen and (min-width: 1030px) {
    .hamburger-container {
        display: none;
    }

    .nav-container {
        display: inherit;
    }
}

@media screen and (max-width: 600px) {
    .nav-link {
        padding: 0px 0px;
        height: 30px;
     }

     .nav-li {
        font-size: 24px;
        padding: 12px 0px;
     }
}


